/.config/emacs/eln-cache/30.2-6a8b22b2
/.config/emacs/elpa
/.config/emacs/transient
/.config/emacs/tree-sitter
/.config/emacs/recentf
/.config/emacs/init.el~
/.config/emacs/.lsp-session-v1
.config/emacs/auto-save-list
.config/emacs/eln-cache
.config/emacs/eshell
.config/emacs/lsp-cache
.config/emacs/undo
.config/emacs/projects
.config/emacs/.mc-lists.el
